{% extends "base.html" %} {% block content %}








<div class="float-container">

    <div class="float-child">
        <h2 class="a">Uploaded Image</h2>
      <div class="green"><img src="{{ url_for('upload_img', filename=file_name) }}" class="img-fluid"></div>
    </div>
    
    <div class="float-child">
        <h2 class="a">Class Activation Map</h2>
      <div class="blue"><img src="{{ url_for('upload_img', filename=heatmap_file) }}" class="img-fluid"></div>
    </div>
    

    <br><br> <br><br> <br><br>
    <div class="a">
        <h3 >
            Predicted Class: <span>{{result}} </span>
        </h3>
    </div>
  </div>
 





{% endblock %}